:root {
    user-select: none;
    overflow: hidden;
    background: url("https://tuapi.eees.cc/api.php?category=fengjing&type=302") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* 
    https://picsum.photos/300/200 
    https://source.unsplash.com/random?nature 
    https://tuapi.eees.cc/api.php?category=fengjing&type=302
    https://api.dujin.org/bing/1920.php
    */
}

#NowTime {
    text-align: center;
    font-size: 54px;
    margin: 30px 0 0 0;
    font-family: "MiSans-Demibold";
    color: white;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    user-select: none;

    transition: font-size 0.5s;
}

#NowDate {
    text-align: center;
    font-size: 28px;
    font-family: "MiSans-Normal";
    color: white;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    word-break: keep-all;
    user-select: none;

    transition: font-size 0.5s;
}

#search {
    display: flex;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 50px;
    align-items: center;
    background-color: white;
    border-radius: 25px;

    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));

    transition: width 0.5s, font-size 0.5s, margin-top 0.5s;
}

#wd {
    width: 400px;
    height: 50px;
    outline: none;
    font-family: "Misans-Regular";
    font-size: 30px;
    text-align: center;
    align-items: center;
    border-style: hidden;
    border-radius: 25px;
    background-color: transparent;

    transition: background-color 0.5s;
}

#submit {
    text-align: center;
    height: 50px;
    width: 100px;
    font-family: "Misans-Bold";
    font-size: 40px;
    border-radius: 25px;
    background-color: transparent;
    outline: none;
    border-style: hidden;
    filter: 0;
}

#select {
    text-align: center;
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-family: "Misans-Bold";
    background-color: transparent;
    border-radius: 25px;
    border-style: hidden;
    appearance: none;
    filter: 0;

    transition: background-color 0.5s;
}

#search:focus-within {
    outline: none;
    margin-top: 50px;
}

#select:focus {
    border-style: hidden;
    outline: none;
}

#hitokoto {
    position: fixed;
    bottom: 80px;
    left: 0;
    right: 0;
    text-align: center;
    transition: bottom 1s;
}

#hitokoto_text {
    font-size: 18px;
    font-family: "MiSans-Bold";
    color: white;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    user-select: none;
    word-break: keep-all;
    text-decoration: none;
}

#hitokoto_from {
    font-size: 15px;
    font-family: "MiSans-Semibold";
    color: white;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    user-select: none;
    word-break: keep-all;
    text-decoration: none;
}

footer {
    font-family: "MiSans-Semibold";
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 15px;
    color: white;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

footer>a {
    font-family: "MiSans-Semibold";
    color: rgb(170, 170, 170);
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    text-decoration: 0;
}
