:root {
    user-select: none;
    overflow: hidden;
    /* 
    https://picsum.photos/300/200 
    https://source.unsplash.com/random?nature 
    https://tuapi.eees.cc/api.php?category=fengjing&type=302
    https://api.dujin.org/bing/1920.php
    */
}

#banner {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://api.dujin.org/bing/1920.php") no-repeat center center;
    background-position: center;
    background-size: cover;
    filter: brightness(90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#glass {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://api.dujin.org/bing/1920.php") no-repeat center center;
    background-size: cover;
    filter: blur(3px) brightness(90%);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter 0.3s;
}

#drop-shadow {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
}

#NowTime {
    text-align: center;
    font-size: 56px;
    margin: 60px 0 0 0;
    font-family: "MiSans-Bold";
    color: white;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    user-select: none;

    transition: font-size 0.5s;
}

#NowDate {
    text-align: center;
    font-size: 27px;
    font-family: "MiSans-Demibold";
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    word-break: keep-all;
    user-select: none;
    color: white;
    margin-top: -5px;

    transition: font-size 0.5s;
}

#search {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 50px;
    align-items: center;
    background-color: transparent;
    border-radius: 25px;

    transition: width 0.3s, font-size 0.3s, margin-top 0.3s, height 0.3s;
}

#wd {
    color: rgba(0, 0, 0, 0);
    width: 140px;
    height: 50px;
    outline: none;
    font-family: "Misans-Medium";
    font-size: 20px;
    text-align: center;
    align-items: center;
    border-style: hidden;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);

    transition: width 0.3s, height 0.3s, color 0.3s, background-color 0.3s, border-radius 0.3s;
}


#submit {
    color: black;
    text-align: center;
    height: 50px;
    width: 0px;
    font-family: "Misans-Bold";
    font-size: 30px;
    border-radius: 0 25px 25px 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    outline: none;
    border-style: hidden;

    transition: width 0.3s, height 0.3s, background-color 0.3s, color 0.3s;
}

#select {
    color: black;
    text-align: center;
    height: 50px;
    width: 0px;
    font-size: 20px;
    font-family: "Misans-Bold";
    border-radius: 25px 0 0 25px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    border-style: hidden;
    appearance: none;

    transition: width 0.3s, height 0.3s, background-color 0.3s, color 0.3s;
}

#search:hover {
    outline: none;
    width: calc(140px + 140px + 5vw);
}

#search:hover>#select {
    width: 70px;
    background-color: rgba(43, 43, 43, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

#search:hover>#submit {
    width: 70px;
    background-color: rgba(43, 43, 43, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

#search:hover>#wd {
    width: calc(140px + 5vw);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(43, 43, 43, 0.8);
}

#search:focus-within {
    outline: none;
    width: calc(140px + 140px + 10vw - 8vh);
}

#search:focus-within>#select {
    width: 70px;
    background-color: rgb(43, 43, 43);
    color: rgba(255, 255, 255, 0.8);
}

#search:focus-within>#submit {
    width: 70px;
    background-color: rgb(43, 43, 43);
    color: rgba(255, 255, 255, 0.8);
}

#search:focus-within>#wd {
    width: calc(140px + 10vw - 8vh);
    border-radius: 0;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(43, 43, 43);
}

#select:focus {
    border-style: hidden;
    outline: none;
}

#select:hover {
    border-style: hidden;
    outline: none;
}

#hitokoto {
    position: fixed;
    bottom: 80px;
    left: 0;
    right: 0;
    text-align: center;
    transition: bottom 1s;
}

#hitokoto_text {
    font-size: 18px;
    font-family: "MiSans-Bold";
    color: white;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    user-select: none;
    word-break: keep-all;
    text-decoration: none;
}

#hitokoto_from {
    font-size: 15px;
    font-family: "MiSans-Semibold";
    color: white;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    user-select: none;
    word-break: keep-all;
    text-decoration: none;
}

footer {
    font-family: "MiSans-Semibold";
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 15px;
    color: white;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

footer>a {
    font-family: "MiSans-Semibold";
    color: white;
    text-decoration: 0;
}