@font-face {
    font-family: MiSans-Bold;
    src: url("MiSans-Bold.woff");
}

@font-face {
    font-family: MiSans-Demibold;
    src: url("MiSans-Demibold.woff");
}

@font-face {
    font-family: MiSans-ExtraLight;
    src: url("MiSans-ExtraLight.woff");
}

@font-face {
    font-family: MiSans-Heavy;
    src: url("MiSans-Heavy.woff");
}

@font-face {
    font-family: MiSans-Light;
    src: url("MiSans-Light.woff");
}

@font-face {
    font-family: MiSans-Medium;
    src: url("MiSans-Medium.woff");
}

@font-face {
    font-family: MiSans-Normal;
    src: url("MiSans-Normal.woff");
}

@font-face {
    font-family: MiSans-Regular;
    src: url("MiSans-Regular.woff");
}

@font-face {
    font-family: MiSans-Semibold;
    src: url("MiSans-Semibold.woff");
}

@font-face {
    font-family: MiSans-Thin;
    src: url("MiSans-Thin.woff");
}